<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	{% for etiqueta in metaetiquetas %}
	    <meta name={{ etiqueta.nombre }} content="{{ etiqueta.contenido }}" >
	{% endfor %}

	<title>{{ titulo }}</title>

	<link rel="stylesheet" href="css/general.css">
	{% block css %}{% endblock %}
</head>
<body>
	{% include 'seguimiento.twig' %}
	{% block seguimiento %}{% endblock %}

	{% block pagina %}{% endblock %}

	{% block js %}{% endblock %}
</body>
</html>
