{% extends 'base.twig' %}

{% block pagina %}
	<section class="pagina">

		<header class="encabezado">
			{% block encabezado %}
				<div class="contenedor">
					<hgroup class="logotipo">
						<img src="img/logo.png" alt="">
						<h1>HMR GROUP LIMITED</h1>
					</hgroup>
					<nav class="menu">
						<input type="checkbox" id="abierto">
						<label for="abierto" class="control">
							<span class="hamburguesa"></span>
						</label>
						<ul class="lista">
							<li class="item">
								<a href="#!" class="enlace">Home</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace">Company</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace">Products</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace">Support</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace">Downloads</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace">Contact us</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace externo">Español</a>
							</li>
							<li class="item">
								<a href="#!" class="enlace externo">HMR en China</a>
							</li>
						</ul>
					</nav>
				</div>
			{% endblock %}
		</header>

		<article class="cuerpo">
			{% block cuerpo %}

			{% endblock %}
		</article>

		<footer class="pie">
			{% block pie %}

			{% endblock %}
		</footer>
	</section>

{% endblock %}
