<!-- Google Analytics -->
<script>
	window.ga = window.ga || function()
	{
		(ga.q = ga.q || []).push(arguments)
	};
	ga.l = +new Date;
	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->