@import "base/normalize.less";
@import "base/lesshat.less";
@import "base/utiles.less";

//*{ background-color: rgba(0,0,0,0.1); }

// Fuentes

.fuente("futura", "FuturaStd-light", 300, normal);
.fuente("futura", "FuturaStd-Book", normal, normal);
.fuente("futura", "FuturaStd-BookOblique", normal, italic);
.fuente("futura", "FuturaStd-Bold", bold, normal);
.fuente("futura", "FuturaStd-Heavy", 900, normal);
.fuente("futura", "FuturaStd-Condensed", 500, normal);


html{
	font-family: futura;
	min-height: 100vh;
}

body{
	background-image: url(../img/bg.jpg);
	min-height: 100vh;
}

// Clases genericas
.contenedor{
	max-width: 1120px;
	.centrar();
	.encierra-margenes();
}

.lista{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.encabezado{
	background-color: white;
	.encierra-margenes();
	border-bottom: 1px solid #e3e3e3;
	line-height: 1;

	.contenedor{
		position: relative;
	}

	.logotipo{
		display: block;
		text-align: center;

		.desde(@mediano, {
			display: table-cell;
			padding: 0.5rem 0 1.25rem;
			line-height: 1;
		});

		img{
			margin-top: 1rem;
			.centrar();

			.desde(@mediano,{
				display: inline-block;
				vertical-align: baseline;
			});
		}

		h1{
			display: inline-block;
			padding: 0 1rem;
			font-size: 1.2rem;

			.desde(@mediano,{
				margin: 0;
			});
		}

	}

	/*
	.logotipo{
		display: block;
		display: table-cell;
		padding: 0.5rem 0 1.25rem;
		line-height: 1;

		img{
			display: inline-block;
			vertical-align: baseline;
		}

		h1{
			display: inline-block;
			padding: 0 1rem;
			margin: 0;
			font-size: 1.2rem;
		}
	}
	*/


	/*
	.menu{
		display: block;
		text-align: center;

		.desde(900, {
			position: absolute;
			right: 0;
			bottom: 0.25rem;
			text-align: right;
		});

		.item{
			display: inline-block;
			margin-bottom: 1rem;

			+ .item{
				margin-left: 1.3rem;
			}

			.enlace{
				font-size: 1.1rem;
				font-weight: 500;
				color: #c1c1c1;
				text-decoration: none;

				&:hover, &.activo{
					color: black;
				}

				&.externo{
					color: #ff8a00;
				}
			}
		}

	}*/

	.menu{
		display: block;
		text-align: center;

		.desde(900, {
			position: absolute;
			right: 0;
			bottom: 0.25rem;
			text-align: right;
		});

		input{
			display: none;
		}

		label{
			width: 3rem;
			display: block;
			margin-left: auto;
			position: relative;
			cursor: pointer;
			margin-top: -3rem;

			.desde(@mediano, {
				display: none;
			});

			&::before{
				content: " ";
				display: block;
				padding-top: 100%;
			}

			.hamburguesa{
				display: block;
				width: 80%;
				height: 10%;
				background-color: black;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				transition:  all 200ms;

				&::before,
				&::after{
					content: " ";
					display: block;
					width: 100%;
					height: 100%;
					background-color: black;
					position: absolute;
					transform-origin: 50% 50%;
					transition:  all 200ms;
				}

				&::before{
					top: -200%;
				}

				&::after{
					bottom: -200%;
				}
			}
		}

		input:checked ~ label{
			.hamburguesa{
				background-color: transparent;

				&::before{
					top: 0;
					transform: rotate(45deg);
				}

				&::after{
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}

		.lista{
			overflow: hidden;
			max-height: 0;
			transition: max-height 400ms;


			.desde(@mediano, {
				max-height: initial;
			});

			.item{
				display: block;

				.desde(@mediano, {
					display: inline-block;
					margin-bottom: 1rem;

					+ .item{
						margin-left: 1.3rem;
					}
				});

				.enlace{
					font-size: 1.5rem;
					font-weight: 500;
					color: #c1c1c1;
					text-decoration: none;
					padding: 0.5rem;
					display: block;
					text-align: center;

					.desde(@mediano, {
						font-size: 1.1rem;
						padding: 0;
					});

					&:hover, &.activo{
						color: black;
					}

					&.externo{
						color: #ff8a00;
					}
				}
			}
		}

		input:checked ~ .lista{
			max-height: 100vh;
		}

	}

}

.cuerpo{
	padding: 2.5rem 0;
	text-align: left;
}

.pie{
	text-align: center;
	font-size: 12px;
	color: #666;
}
