@import "base/lesshat.less";
@import "base/utiles.less";


.cuerpo{
	padding: 2.5rem 0;
	text-align: left;

	.contenedor{

		.desde(@mediano, {
			text-align: justify;
			font-size: 0;
		});

		&::before{
			content: " ";
			display: block;
			width: 100%;
		}

		&::after{
			content: " ";
			display: inline-block;
			width: 100%;
		}

	}

	.item{
		display: block;
		position: relative;
		font-size: 1rem;
		color: white;
		margin-bottom: 1rem;
		width: 100%;

		.desde(@mediano,{
			width: 50%;
			display: inline-block;
			margin-bottom: 0;
		});

		.desde(1120, {
			display: inline-block;
			margin-bottom: 1rem;
		});

		&::before{
			display: block;
			content: " ";
			padding-top: 100%;
		}

		&.productos{
			.figura("foto-obrero.jpg");
			height: auto;
			width: 100%;

			.desde(@mediano,{
				width: 50%;
				display: inline-block;
			});

			.desde(1120, {
				display: inline-block;
				width: @ancho;
			});
		}

		&.soluciones{
			.background-image(linear-gradient(to bottom, #de001c 0%,#930012 100%));
			border-radius: 0 10% 0 0;
			width: 100%;

			.desde(@mediano,{
				display: inline-block;
				width: 50%;
			});

			.desde(1120, {
				width: 435px;
				display: inline-block;

				.contenido{
					.titulo{
						font-size: 48px;
						line-height: 1.5;
						font-weight: normal;
						margin-bottom: 1.5em;
					}
				}
			})
		}

		&.descargas{
			.figura("foto-pelotas.jpg");
			//.flex( 0, 1, 210px);
			//max-width: 210px;
			height: auto;
			width: 100%;

			.desde(@mediano,{
				display: inline-block;
				width: 50%;
			});

			.desde(1120, {
				.proporcion("foto-pelotas.jpg");
				display: inline-block;
				width: @ancho;
			});
		}

		&.contacto{
			background-color: black;
			border-radius: 0 10% 0 0;
			//.flex( 0, 1, 336px);
			height: auto;

			.desde(1120, {
				display: inline-block;
				width: 335px;
			});
		}

		&.soporte{
			.figura("foto-techo.jpg");
			.proporcion("foto-techo.jpg");
			.flex( 0, 1, 764px);
			height: auto;
			width: 100%;

			.desde(1120, {
				display: inline-block;
				width: @ancho;
			});
		}

		.contenido{
			position: absolute;
			bottom: 0;
			padding: 1.2rem;

			.titulo{
				font-size: 2rem;
				margin: 0;
				line-height: 1.5;
				font-weight: 900;
				text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
			}

			.enlace{
				color: white;
				text-decoration: none;
				font-style: italic;

				.flecha{
					.dibuja-flecha();
					margin-right: 0.5rem;
				}
			}

		}
	}

}
