@import "base/lesshat.less";
@import "base/utiles.less";


.cuerpo{
	padding: 2.5rem 0;
	text-align: left;

	.contenedor{

		&::before,
		&::after{
			display: block;
			width: 100%;
		}

		.contenido{
			font-weight: 300;
			margin: 0 1rem 1rem;
			line-height: 1.5;

			.desde(@mediano,{
				margin: 0 0 1rem;
			});


			h1{
				font-weight: normal;
				font-size: 2.1rem;
				margin-top: 0.5rem;
			}

			ol{
				font-weight: 300;
				line-height: 2;
			}

			ul{
				display: block;
				font-weight: 300;
				padding: 0;
				margin-bottom: 1rem;
				list-style-type: disc;
				list-style-position: inside;
			}

			a{
				color: #b80017;
			}
		}

		.galeria{
			.desde(@mediano,{
				text-align: justify;

			});

			.item{
				width: 100%;
				margin-bottom: 1rem;
				position: relative;

				.desde(@mediano,{
					width: auto;
					display: inline-block;
				});

				.imagen{
					width: 100%;
				}

				.contenido{
					position: absolute;
					bottom: 0;
					padding: 0.5rem 1rem;
					color: white;
					margin: 0;

					.titulo{
						color: white;
						font-size: 2rem;
						margin: 0;
						line-height: 1.5;
						font-weight: 900;
						text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
					}

					.enlace{
						color: white;
						text-decoration: none;
						font-style: italic;

						.flecha{
							.dibuja-flecha();
							margin-right: 0.5rem;
						}
					}

				}
			}
		}
	}
}
