/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: "futura";
  src: url(../fnt/FuturaStd-light.eot);
  src: url(../fnt/FuturaStd-light.eot?#iefix) format('embedded-opentype'), url(../fnt/FuturaStd-light.svg#FuturaStd-light) format('svg'), url(../fnt/FuturaStd-light.woff2) format('woff2'), url(../fnt/FuturaStd-light.woff) format('woff'), url(../fnt/FuturaStd-light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "futura";
  src: url(../fnt/FuturaStd-Book.eot);
  src: url(../fnt/FuturaStd-Book.eot?#iefix) format('embedded-opentype'), url(../fnt/FuturaStd-Book.svg#FuturaStd-Book) format('svg'), url(../fnt/FuturaStd-Book.woff2) format('woff2'), url(../fnt/FuturaStd-Book.woff) format('woff'), url(../fnt/FuturaStd-Book.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "futura";
  src: url(../fnt/FuturaStd-BookOblique.eot);
  src: url(../fnt/FuturaStd-BookOblique.eot?#iefix) format('embedded-opentype'), url(../fnt/FuturaStd-BookOblique.svg#FuturaStd-BookOblique) format('svg'), url(../fnt/FuturaStd-BookOblique.woff2) format('woff2'), url(../fnt/FuturaStd-BookOblique.woff) format('woff'), url(../fnt/FuturaStd-BookOblique.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "futura";
  src: url(../fnt/FuturaStd-Bold.eot);
  src: url(../fnt/FuturaStd-Bold.eot?#iefix) format('embedded-opentype'), url(../fnt/FuturaStd-Bold.svg#FuturaStd-Bold) format('svg'), url(../fnt/FuturaStd-Bold.woff2) format('woff2'), url(../fnt/FuturaStd-Bold.woff) format('woff'), url(../fnt/FuturaStd-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "futura";
  src: url(../fnt/FuturaStd-Heavy.eot);
  src: url(../fnt/FuturaStd-Heavy.eot?#iefix) format('embedded-opentype'), url(../fnt/FuturaStd-Heavy.svg#FuturaStd-Heavy) format('svg'), url(../fnt/FuturaStd-Heavy.woff2) format('woff2'), url(../fnt/FuturaStd-Heavy.woff) format('woff'), url(../fnt/FuturaStd-Heavy.ttf) format('truetype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "futura";
  src: url(../fnt/FuturaStd-Condensed.eot);
  src: url(../fnt/FuturaStd-Condensed.eot?#iefix) format('embedded-opentype'), url(../fnt/FuturaStd-Condensed.svg#FuturaStd-Condensed) format('svg'), url(../fnt/FuturaStd-Condensed.woff2) format('woff2'), url(../fnt/FuturaStd-Condensed.woff) format('woff'), url(../fnt/FuturaStd-Condensed.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}
html {
  font-family: futura;
  min-height: 100vh;
}
body {
  background-image: url(../img/bg.jpg);
  min-height: 100vh;
}
.contenedor {
  max-width: 1120px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.contenedor::before,
.contenedor::after {
  content: " ";
  display: table;
  clear: both;
}
.lista {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.encabezado {
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
  line-height: 1;
  /*
	.logotipo{
		display: block;
		display: table-cell;
		padding: 0.5rem 0 1.25rem;
		line-height: 1;

		img{
			display: inline-block;
			vertical-align: baseline;
		}

		h1{
			display: inline-block;
			padding: 0 1rem;
			margin: 0;
			font-size: 1.2rem;
		}
	}
	*/
  /*
	.menu{
		display: block;
		text-align: center;

		.desde(900, {
			position: absolute;
			right: 0;
			bottom: 0.25rem;
			text-align: right;
		});

		.item{
			display: inline-block;
			margin-bottom: 1rem;

			+ .item{
				margin-left: 1.3rem;
			}

			.enlace{
				font-size: 1.1rem;
				font-weight: 500;
				color: #c1c1c1;
				text-decoration: none;

				&:hover, &.activo{
					color: black;
				}

				&.externo{
					color: #ff8a00;
				}
			}
		}

	}*/
}
.encabezado::before,
.encabezado::after {
  content: " ";
  display: table;
  clear: both;
}
.encabezado .contenedor {
  position: relative;
}
.encabezado .logotipo {
  display: block;
  text-align: center;
}
.encabezado .logotipo img {
  margin-top: 1rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.encabezado .logotipo h1 {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
}
.encabezado .menu {
  display: block;
  text-align: center;
}
.encabezado .menu input {
  display: none;
}
.encabezado .menu label {
  width: 3rem;
  display: block;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  margin-top: -3rem;
}
.encabezado .menu label::before {
  content: " ";
  display: block;
  padding-top: 100%;
}
.encabezado .menu label .hamburguesa {
  display: block;
  width: 80%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 200ms;
}
.encabezado .menu label .hamburguesa::before,
.encabezado .menu label .hamburguesa::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: all 200ms;
}
.encabezado .menu label .hamburguesa::before {
  top: -200%;
}
.encabezado .menu label .hamburguesa::after {
  bottom: -200%;
}
.encabezado .menu input:checked ~ label .hamburguesa {
  background-color: transparent;
}
.encabezado .menu input:checked ~ label .hamburguesa::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.encabezado .menu input:checked ~ label .hamburguesa::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.encabezado .menu .lista {
  overflow: hidden;
  max-height: 0;
  transition: max-height 400ms;
}
.encabezado .menu .lista .item {
  display: block;
}
.encabezado .menu .lista .item .enlace {
  font-size: 1.5rem;
  font-weight: 500;
  color: #c1c1c1;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  text-align: center;
}
.encabezado .menu .lista .item .enlace:hover,
.encabezado .menu .lista .item .enlace.activo {
  color: black;
}
.encabezado .menu .lista .item .enlace.externo {
  color: #ff8a00;
}
.encabezado .menu input:checked ~ .lista {
  max-height: 100vh;
}
.cuerpo {
  padding: 2.5rem 0;
  text-align: left;
}
.pie {
  text-align: center;
  font-size: 12px;
  color: #666;
}
@media screen and (min-width: 640px) {
  .encabezado .logotipo {
    display: table-cell;
    padding: 0.5rem 0 1.25rem;
    line-height: 1;
  }
  .encabezado .logotipo img {
    display: inline-block;
    vertical-align: baseline;
  }
  .encabezado .logotipo h1 {
    margin: 0;
  }
  .encabezado .menu label {
    display: none;
  }
  .encabezado .menu .lista {
    max-height: initial;
  }
  .encabezado .menu .lista .item {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .encabezado .menu .lista .item + .item {
    margin-left: 1.3rem;
  }
  .encabezado .menu .lista .item .enlace {
    font-size: 1.1rem;
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .encabezado .menu {
    position: absolute;
    right: 0;
    bottom: 0.25rem;
    text-align: right;
  }
}