.cuerpo {
  padding: 2.5rem 0;
  text-align: left;
}
.cuerpo .contenedor::before,
.cuerpo .contenedor::after {
  display: block;
  width: 100%;
}
.cuerpo .contenedor .contenido {
  font-weight: 300;
  margin: 0 1rem 1rem;
  line-height: 1.5;
}
.cuerpo .contenedor .contenido h1 {
  font-weight: normal;
  font-size: 2.1rem;
  margin-top: 0.5rem;
}
.cuerpo .contenedor .contenido ol {
  font-weight: 300;
  line-height: 2;
}
.cuerpo .contenedor .contenido ul {
  display: block;
  font-weight: 300;
  padding: 0;
  margin-bottom: 1rem;
  list-style-type: disc;
  list-style-position: inside;
}
.cuerpo .contenedor .contenido a {
  color: #b80017;
}
.cuerpo .contenedor .galeria .item {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.cuerpo .contenedor .galeria .item .imagen {
  width: 100%;
}
.cuerpo .contenedor .galeria .item .contenido {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  color: white;
  margin: 0;
}
.cuerpo .contenedor .galeria .item .contenido .titulo {
  color: white;
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
  font-weight: 900;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}
.cuerpo .contenedor .galeria .item .contenido .enlace {
  color: white;
  text-decoration: none;
  font-style: italic;
}
.cuerpo .contenedor .galeria .item .contenido .enlace .flecha {
  margin-right: 0.5rem;
}
.cuerpo .contenedor .galeria .item .contenido .enlace .flecha::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1px;
  background-color: white;
}
.cuerpo .contenedor .galeria .item .contenido .enlace .flecha::after {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-left: -0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (min-width: 640px) {
  .cuerpo .contenedor .contenido {
    margin: 0 0 1rem;
  }
  .cuerpo .contenedor .galeria {
    text-align: justify;
  }
  .cuerpo .contenedor .galeria .item {
    width: auto;
    display: inline-block;
  }
}