{% extends 'estructura.twig' %}

{% block css %}
	<link rel="stylesheet" href="css/index.css">

{% endblock %}

{% block cuerpo %}
	<div class="contenedor">
		<div class="item productos">
			<div class="contenido">
				<h3 class="titulo">
					products
				</h3>
				<p class="texto">
					<a href="#!" class="enlace">
						<span class="flecha"></span>
						<span>Magnetic liners and more</span>
					</a>
				</p>
			</div>
		</div>
		<div class="item soluciones">
			<div class="contenido">
				<h3 class="titulo">
					<strong>Technical solutions to </strong>
					<span>the international mining operations</span>
				</h3>
				<p class="texto">
					<a href="#!" class="enlace">
						<span class="flecha"></span>
						<span>about us</span>
					</a>
				</p>
			</div>
		</div>
		<div class="item descargas">
			<div class="contenido">
				<h3 class="titulo">
					downloads
				</h3>
				<p class="texto">
					<a href="#!" class="enlace">
						<span class="flecha"></span>
						<span>pdf archives</span>
					</a>
				</p>
			</div>

		</div>
		<div class="item contacto">
			<div class="contenido">
				<h3 class="titulo">
					HMR GROUP
				</h3>
				<p class="texto">
					TEL: +86 10 859-10755
				</p>
				<h3 class="titulo">
					HMR Technology Canada Ltd.
				</h3>
				<p class="texto">
					TEL: +1 (604) 620-7221
				</p>
				<p class="texto">
					<a href="#!" class="enlace">
						<span class="flecha"></span>
						<span>contact us here</span>
					</a>
				</p>
			</div>

		</div>
		<div class="item soporte">
			<div class="contenido">
				<h3 class="titulo">
					downloads
				</h3>
				<p class="texto">
					<a href="#!" class="enlace">
						<span class="flecha"></span>
						<span>pdf archives</span>
					</a>
				</p>
			</div>

		</div>
	</div>
{% endblock %}

{% block pie %}
	<p class="texto">HMR GROUP LIMITED 2016</p>
{% endblock %}
