{% extends 'estructura.twig' %}

{% block css %}
	<link rel="stylesheet" href="css/interna.css">

{% endblock %}

{% block cuerpo %}
	<div class="contenedor">
		<div class="contenido">
			<h1>HMR product <strong>properties and suitability</strong></h1>
			<ol>
				<li>HMR product properties and suitability
					<ul>
						<li>Ferromagnetic material present in the ore and/or cracked grinding balls adhere to the surface of the liner due to the magnetic force. This layer of ferromagnetic material and/or grinding media act as a protective layer of the liner by preventing direct mechanical wear and impact by feed material and grinding media, resulting in longer service life.</li>
						<li>The actual wear part of the liner is the protective layer, which can be continually supplied by the magmatic content of the feed material and grinding media. Theoretically the service life of the protective layer is infinite.  </li>
					</ul>
				</li>
				<li>Forged or Cast Balls <a href="#!">see details</a></li>
				<li>NMCADI+10 Ball <a href="#!">see details</a></li>
				<li>Hot-rolled Steel Ball <a href="#!">see details</a></li>
			</ol>
		</div>
		<div class="galeria">
			<div class="item">
				<img class="imagen" src="img/producto1.jpg" alt="">
				<div class="contenido">
					<h3 class="titulo">
						Customized Hot Rolled, Forged, and Cast Steel Balls
					</h3>
					<p class="texto">
						<a href="#!" class="enlace">
							<span class="flecha"></span>
							<span>Magnetic liners and more</span>
						</a>
					</p>
				</div>
			</div>
			<div class="item">
				<img class="imagen" src="img/producto2.jpg" alt="">
				<div class="contenido">
					<h3 class="titulo">
						Magnetic Liner
					</h3>
					<p class="texto">
						<a href="#!" class="enlace">
							<span class="flecha"></span>
							<span>Magnetic liners and more</span>
						</a>
					</p>
				</div>
			</div>
			<div class="item">
				<img class="imagen" src="img/producto3.jpg" alt="">
				<div class="contenido">
					<h3 class="titulo">
						NMCADI+10 SAG Ball and Liner
					</h3>
					<p class="texto">
						<a href="#!" class="enlace">
							<span class="flecha"></span>
							<span>Magnetic liners and more</span>
						</a>
					</p>
				</div>
			</div>
			<div class="item">
				<img class="imagen" src="img/producto4.jpg" alt="">
				<div class="contenido">
					<h3 class="titulo">
						NMBG+10 SAG Liner
					</h3>
					<p class="texto">
						<a href="#!" class="enlace">
							<span class="flecha"></span>
							<span>Magnetic liners and more</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pie %}
	<p class="texto">HMR GROUP LIMITED 2016</p>
{% endblock %}
